@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to this Site</h1>
    <p class="lead">This site provides you with info on various categories primarily concentrating on Movies.</p>
</div>

 